{% extends "layout.html" %}

{% block pageTitle %}
    Enter your email address - GOV.UK 
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                Your email address is associated with an existing account
            </h1>

            <p class="govuk-body">
                There’s already an account using <strong>EmailAddress@email.com</strong>
            </p>

            <p class="govuk-body">
                Enter your password to sign in.
            </p>

            <form action="/auth/dev-ready/sign-in-2fa" method="post">

                <div class="govuk-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="password">
                            Password
                        </label>

                        <div class="govuk-show-password__input-wrapper">
                            <input class="govuk-input govuk-!-width-two-thirds govuk-password-input govuk-input--with-password" id="password" name="password" type="password" spellcheck="false" autocomplete="off">
                            <span class="govuk-visually-hidden" aria-live="polite">Your password is shown</span>
                        </div>

                    </div>

                </div>
                
                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

            <a href="#" class="govuk-body govuk-link">I've forgotten my password</a>
        </div>
    </div>
{% endblock %}

{% block pageScripts %}
    <script src="/public/javascripts/show-password.js"></script>
{% endblock %}
